# Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

clangxx>21
lld>21
llvm-tools>21
python>3.11
pip
libarrow>=16
libarrow-compute>=16
libdeflate>=1
highfive>=3
zstd>=1.5
