# Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

clangxx>18
lld>18
llvm-tools>18
python>3.11
pip
libarrow>=16
libarrow-compute>=16
libdeflate>=1
highfive>=3
zstd>=1.5
