# Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

clangxx>18
lld>18
llvm-tools>18
python>3.11
pip
# Arrow 21.0.0 can't find certain kernels (e.g., sort_indices)
libarrow>=16,<21
libdeflate>=1
highfive>=2.10
zstd>=1.5
