# Copyright (C) 2024 Roberto Rossini (roberros@uio.no)
# SPDX-License-Identifier: MIT

name: Run fuzzy tests

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/fuzzy-testing.yml"
      - "cmake/**"
      - "src/**"
      - "test/scripts/fuzzer*.py"
      - "CMakeLists.txt"
      - "conanfile.py"
      - "pyproject.toml"

  pull_request:
    paths:
      - ".github/workflows/fuzzy-testing.yml"
      - "cmake/**"
      - "src/**"
      - "test/scripts/fuzzer*.py"
      - "CMakeLists.txt"
      - "conanfile.py"
      - "pyproject.toml"

  schedule:
    # Run weekly
    - cron: "15 3 * * 0"

  workflow_dispatch:
    inputs:
      duration:
        description: "Test duration in seconds"
        required: true
        default: "600"
        type: string

      resolution:
        description: "Matrix resolution to use for testing"
        required: true
        default: "random"
        type: string

# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  cache-test-datasets:
    if: ${{ github.event_name != 'workflow_dispatch' }}
    name: "Cache test datasets"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/paulsengroup/ci-docker-images/ubuntu-python-314
      options: "--user=root"
    outputs:
      cache-key: ${{ steps.generate-cache-key.outputs.key }}
    steps:
      - name: Clone hictk
        uses: actions/checkout@v5
        with:
          repository: "paulsengroup/hictk"
          ref: v2.2.0

      - name: Fix permissions
        run: chown -R "$(id -u):$(id -g)" "$PWD"

      - name: Generate cache key
        id: generate-cache-key
        run: |
          hash='${{ hashFiles('test/fuzzer/scripts/download_test_datasets.py', 'test/fuzzer/test_files.json') }}'

          echo "key=fuzzer-test-datasets-$hash" | tee -a "$GITHUB_OUTPUT"

      - name: Restore cache
        id: cache-dset
        uses: actions/cache/restore@v4
        with:
          key: ${{ steps.generate-cache-key.outputs.key }}
          path: /tmp/test/data/
          lookup-only: true

      - name: Download test datasets
        if: steps.cache-dset.outputs.cache-hit != 'true'
        run: |
          export PATH="/opt/python/rel/bin:$PATH"

          test/fuzzer/scripts/download_test_datasets.py \
            test/fuzzer/test_files.json \
            . \
            --format cool hic8 hic9 \
            --resolution 50000 \
            --dataset 4DNFIYECESRC \
            --nproc 3

          test/fuzzer/scripts/download_test_datasets.py \
            test/fuzzer/test_files.json \
            . \
            --format cool hic9 \
            --resolution 250000 \
            --dataset 4DNFIYECESRC \
            --nproc 2

          test/fuzzer/scripts/download_test_datasets.py \
            test/fuzzer/test_files.json \
            . \
            --format cool \
            --resolution 0 \
            --dataset 4DNFIYECESRC \
            --nproc 1

          rm -rf /tmp/test/data/
          mkdir -p /tmp/test/data/

          mv ./*.{cool,hic8,hic9} /tmp/test/data/

      - name: Save cache
        uses: actions/cache/save@v4
        if: steps.cache-dset.outputs.cache-hit != 'true'
        with:
          key: ${{ steps.generate-cache-key.outputs.key }}
          path: /tmp/test/data/

  build-project:
    runs-on: ubuntu-latest
    if: |
      always() &&
      (needs.cache-test-datasets.result == 'success' ||
       needs.cache-test-datasets.result == 'skipped'
      )
    needs: [cache-test-datasets]
    strategy:
      fail-fast: false
      matrix:
        include:
          - {
              dataset: "4DNFIYECESRC",
              format: "cool",
              normalization: "NONE",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "cool",
              normalization: "weight",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "cool",
              normalization: "VC",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "cool",
              normalization: "NONE",
              bin-type: "variable",
              resolution: "0",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "hic8",
              normalization: "NONE",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "hic8",
              normalization: "KR",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "hic9",
              normalization: "NONE",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "hic9",
              normalization: "VC",
              bin-type: "fixed",
              resolution: "50000",
              tsan: "false",
            }
          - {
              dataset: "4DNFIYECESRC",
              format: "hic9",
              normalization: "NONE",
              bin-type: "fixed",
              resolution: "250000",
              tsan: "true",
            }

    container:
      image: ghcr.io/paulsengroup/ci-docker-images/ubuntu-python-314
      options: "--user=root"

    env:
      CC: "clang"
      CXX: "clang++"
      CCACHE_DISABLE: "1"
      CONAN_HOME: "/opt/conan/"
      HICTK_CI: "1"
      TSAN_OPTIONS: "report_bugs=0"

    steps:
      - name: Clone hictkpy
        uses: actions/checkout@v5

      - name: Fix permissions
        run: chown -R "$(id -u):$(id -g)" "$PWD"

      - name: Detect CI type
        id: ci-type
        run: |
          apt-get update
          apt-get install -y -q git
          if git log --format=%B -n 1 '${{ github.event.after }}' | grep -qF '[ci full]'; then
            echo 'type=full' >> "$GITHUB_OUTPUT"
          else
            echo 'type=short' >> "$GITHUB_OUTPUT"
          fi

      - name: Restore cache
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: actions/cache/restore@v4
        with:
          key: ${{ needs.cache-test-datasets.outputs.cache-key }}
          path: /tmp/test/data/
          fail-on-cache-miss: true

      - name: Generate test parameters
        id: test-params
        run: |
          duration=120
          if [[ ${{ github.event_name }} == 'workflow_dispatch' ]]; then
            duration='${{ inputs.duration }}'
          elif [[ '${{ steps.ci-type.outputs.type }}' == 'full' ]]; then
            duration=1800
          fi

          resolution='${{ matrix.resolution }}'
          if [[ ${{ github.event_name }} == 'workflow_dispatch' ]]; then
            if [[ '${{ inputs.resolution }}' == 'random' ]]; then
              resolution="$(
                python3 -c 'import random; import sys; print(random.choice([int(x) for x in sys.argv[1:]]))' \
                1000 5000 10000 50000 100000 500000
              )"
            else
              resolution='${{ inputs.resolution }}'
            fi
          fi

          if [[ '${{ matrix.bin-type }}' == variable ]]; then
            resolution=0
          fi

          2>&1 echo "Duration: ${duration}"
          2>&1 echo "Resolution: ${resolution}"

          echo "duration=$duration" | tee -a "$GITHUB_OUTPUT"
          echo "resolution=$resolution" | tee -a "$GITHUB_OUTPUT"
          echo "timeout=$((duration + 300))" | tee -a "$GITHUB_OUTPUT"

      - name: Prepare test datasets
        id: prepare-test-dsets
        run: |
          resolution='${{ steps.test-params.outputs.resolution }}'
          if [[ "$resolution" == 0 ]]; then
            resolution='variable'
          fi

          reference_file="/tmp/test/data/${{ matrix.dataset }}.$resolution.cool"
          test_file="${reference_file%.cool}.${{ matrix.format }}"

          echo "reference-file=$reference_file" | tee -a "$GITHUB_OUTPUT"
          echo "test-file=$test_file" | tee -a "$GITHUB_OUTPUT"

          if [[ ! -f "$reference_file" ]] || [[ ! -f "$test_file" ]]; then
            rm -rf /tmp/test
            echo 'data-available=false' | tee -a "$GITHUB_OUTPUT"
            exit 0
          fi

          echo 'data-available=true' | tee -a "$GITHUB_OUTPUT"

      - name: Generate cache key
        id: cache-key
        run: |
          hash='${{ hashFiles('conanfile.py') }}'

          key='fuzzer-'
          if [[ '${{ matrix.tsan }}' == true ]]; then
            key+=tsan-
          fi
          key+="$hash"

          echo "key=$key" >> "$GITHUB_OUTPUT"

      - name: Setup Build deps
        run: |
          apt-get update
          apt-get install -y -q build-essential clang git

      - name: Setup Python
        run: |
          if [[ '${{ matrix.tsan }}' == true ]]; then
            PATH="/opt/python/tsan/bin:$PATH"
          else
            PATH="/opt/python/rel/bin:$PATH"
          fi

          which python3
          python3 --version

          echo "PATH=$PATH" >> "$GITHUB_ENV"

          pip3 install 'conan>=2.22' --no-cache-dir

      - name: Restore Conan cache
        id: cache-conan
        uses: actions/cache/restore@v4
        with:
          key: conan-${{ steps.cache-key.outputs.key }}
          path: ${{ env.CONAN_HOME }}/p

      - name: Clean Conan cache (pre-build)
        if: steps.cache-conan.outputs.cache-hit != 'true'
        run: rm -rf ${{ env.CONAN_HOME }}/p

      - name: Patch project to use TSAN
        if: matrix.tsan == 'true'
        run: |
          sed -i 's/^cmake\.build-type = .*$/cmake.build-type = "RelWithDebInfo"/' pyproject.toml

          sed -i '/tool\.scikit-build\.cmake\.define/a CMAKE_C_FLAGS = "-fsanitize=thread"' pyproject.toml
          sed -i '/tool\.scikit-build\.cmake\.define/a CMAKE_CXX_FLAGS = "-fsanitize=thread"' pyproject.toml
          sed -i '/tool\.scikit-build\.cmake\.define/a CMAKE_SHARED_LINKER_FLAGS = "-fsanitize=thread"' pyproject.toml

      - name: Build and install
        run: |
          SETUPTOOLS_SCM_PRETEND_VERSION=0.0.1 \
          pip3 install --verbose --no-cache-dir '.[all]'

      - name: Clean Conan cache (post-build)
        if: steps.cache-conan.outputs.cache-hit != 'true'
        run: |
          pip3 install --no-cache-dir 'conan>2'
          conan cache clean "*" --build
          conan cache clean "*" --download
          conan cache clean "*" --source

      - name: Save Conan cache
        uses: actions/cache/save@v4
        if: steps.cache-conan.outputs.cache-hit != 'true'
        with:
          key: conan-${{ steps.cache-key.outputs.key }}
          path: ${{ env.CONAN_HOME }}/p
        env:
          ZSTD_CLEVEL: 19

      - name: Install test dependencies
        run: pip3 install --no-cache-dir 'cooler==0.10.*'

      - name: Clone hictk
        if: ${{ steps.prepare-test-dsets.outputs.data-available != 'true' }}
        uses: actions/checkout@v5
        with:
          repository: "paulsengroup/hictk"
          path: hictk
          ref: v2.2.0

      - name: Download test datasets
        if: ${{ steps.prepare-test-dsets.outputs.data-available != 'true' }}
        run: |
          rm -rf /tmp/test/data/
          mkdir -p /tmp/test/data/
          hictk/test/fuzzer/scripts/download_test_datasets.py \
            hictk/test/fuzzer/test_files.json \
            /tmp/test/data/ \
            --format cool '${{ matrix.format }}' \
            --resolution '${{ steps.test-params.outputs.resolution }}' \
            --dataset '${{ matrix.dataset }}' \
            --nproc 2

          rm -rf hictk/

      - name: Run test (df)
        if: matrix.tsan != 'true'
        run: |
          timeout --signal=KILL '${{ steps.test-params.outputs.timeout }}s' \
          test/scripts/fuzzer.py \
            --resolution '${{ steps.test-params.outputs.resolution }}' \
            --duration '${{ steps.test-params.outputs.duration }}' \
            --normalization '${{ matrix.normalization }}' \
            --nproc "$(nproc)" \
            --format df \
            '${{ steps.prepare-test-dsets.outputs.test-file }}' \
            '${{ steps.prepare-test-dsets.outputs.reference-file }}'

      - name: Run test (numpy)
        if: matrix.tsan != 'true'
        run: |
          timeout --signal=KILL '${{ steps.test-params.outputs.timeout }}s' \
          test/scripts/fuzzer.py \
            --resolution '${{ steps.test-params.outputs.resolution }}' \
            --duration '${{ steps.test-params.outputs.duration }}' \
            --normalization '${{ matrix.normalization }}' \
            --nproc "$(nproc)" \
            --format numpy \
            '${{ steps.prepare-test-dsets.outputs.test-file }}' \
            '${{ steps.prepare-test-dsets.outputs.reference-file }}'

      - name: Run test (csr)
        if: matrix.tsan != 'true'
        run: |
          timeout --signal=KILL '${{ steps.test-params.outputs.timeout }}s' \
          test/scripts/fuzzer.py \
            --resolution '${{ steps.test-params.outputs.resolution }}' \
            --duration '${{ steps.test-params.outputs.duration }}' \
            --normalization '${{ matrix.normalization }}' \
            --nproc "$(nproc)" \
            --format csr \
            '${{ steps.prepare-test-dsets.outputs.test-file }}' \
            '${{ steps.prepare-test-dsets.outputs.reference-file }}'

      - name: Run test (describe)
        if: matrix.tsan != 'true'
        run: |
          timeout --signal=KILL '${{ steps.test-params.outputs.timeout }}s' \
          test/scripts/fuzzer.py \
            --resolution '${{ steps.test-params.outputs.resolution }}' \
            --duration '${{ steps.test-params.outputs.duration }}' \
            --normalization '${{ matrix.normalization }}' \
            --nproc "$(nproc)" \
            --format describe \
            '${{ steps.prepare-test-dsets.outputs.test-file }}' \
            '${{ steps.prepare-test-dsets.outputs.reference-file }}' \
            --excluded-chroms chrY chrM

      - name: Run test (TSAN)
        if: matrix.tsan == 'true'
        run: |
          apt-get install -y -q llvm
          which llvm-symbolizer

          TSAN_OPTIONS='verbosity=1'
          TSAN_OPTIONS+=" external_symbolizer_path=$(which llvm-symbolizer)"
          TSAN_OPTIONS+=" suppressions=$PWD/utils/devel/hictkpy.tsan.suppression.txt"
          export TSAN_OPTIONS
          echo "$TSAN_OPTIONS"

          timeout --signal=KILL '${{ steps.test-params.outputs.timeout }}s' \
          test/scripts/fuzzer_data_races.py \
            --resolution '${{ steps.test-params.outputs.resolution }}' \
            --nthreads "$(nproc)" \
            --duration '${{ steps.test-params.outputs.duration }}' \
            --range1 chr1 \
            '${{ steps.prepare-test-dsets.outputs.test-file }}' \
            '${{ steps.prepare-test-dsets.outputs.reference-file }}'

  fuzzy-testing-status-check:
    name: Status Check (fuzzy-testing)
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - build-project

    steps:
      - name: Collect job results
        if: needs.build-project.result != 'success'
        run: exit 1
