# Copyright (C) 2023 Roberto Rossini (roberros@uio.no)
# SPDX-License-Identifier: MIT

name: Build wheels

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - ".github/workflows/build-conan-deps-*.yml"
      - ".github/workflows/wheels.yml"
      - "cmake/**"
      - "src/**"
      - "test/*.py"
      - "utils/devel/stubgen.py"
      - "CMakeLists.txt"
      - "conanfile.py"
      - "pyproject.toml"

  pull_request:
    paths:
      - ".github/workflows/build-conan-deps-*.yml"
      - ".github/workflows/wheels.yml"
      - "cmake/**"
      - "src/**"
      - "test/*.py"
      - "utils/devel/stubgen.py"
      - "CMakeLists.txt"
      - "conanfile.py"
      - "pyproject.toml"

  release:
    types:
      - published

# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  matrix-factory:
    name: Generate job matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-result.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install cibuildwheel
        run: pip install 'cibuildwheel>=2.21'

      - name: Generate matrix
        id: set-result
        run: |
          CIBW_ARCHS_LINUX=x86_64 cibuildwheel \
            --print-build-identifiers \
            --platform linux |
          jq -nRc '{"wheel-config": inputs, "os": "ubuntu-24.04", "arch": "x86_64"}' |
          tee configs.json

          if [ '${{ github.event_name }}' != 'pull_request' ]; then
            CIBW_ARCHS_LINUX=aarch64 cibuildwheel \
              --print-build-identifiers \
              --platform linux |
            jq -nRc '{"wheel-config": inputs, "os": "ubuntu-24.04-arm", "arch": "aarch64"}' |
            tee -a configs.json
          fi

          CIBW_ARCHS_MACOS=x86_64 cibuildwheel \
            --print-build-identifiers \
            --platform macos |
          jq -nRc '{"wheel-config": inputs, "os": "macos-13", "arch": "x86_64"}' |
          tee -a configs.json

          CIBW_ARCHS_MACOS=arm64 cibuildwheel \
            --print-build-identifiers \
            --platform macos |
          jq -nRc '{"wheel-config": inputs, "os": "macos-14", "arch": "arm64"}' |
          tee -a configs.json

          CIBW_ARCHS_WINDOWS=AMD64 cibuildwheel \
            --print-build-identifiers \
            --platform windows |
          jq -nRc '{"wheel-config": inputs, "os": "windows-2022", "arch": "AMD64"}' |
          tee -a configs.json

          MATRIX="$(jq -sc < configs.json)"

          echo "matrix={\"include\": $MATRIX }" | tee -a "$GITHUB_OUTPUT"

  build-conan-deps-linux-x86:
    name: Build Conan deps (Linux x86_64)
    uses: paulsengroup/hictkpy/.github/workflows/build-conan-deps-linux.yml@74a7d3c4ec52b16f7bcb59fd8579f5520b1a01e3
    with:
      os: ubuntu-24.04
      arch: x86_64
      image-version: 2025.05.24-1

  build-conan-deps-linux-arm64:
    name: Build Conan deps (Linux arm64)
    uses: paulsengroup/hictkpy/.github/workflows/build-conan-deps-linux.yml@74a7d3c4ec52b16f7bcb59fd8579f5520b1a01e3
    with:
      os: ubuntu-24.04-arm
      arch: aarch64
      image-version: 2025.05.24-1

  build-conan-deps-macos-x86:
    name: Build Conan deps (macOS x86_64)
    uses: paulsengroup/hictkpy/.github/workflows/build-conan-deps-macos.yml@74a7d3c4ec52b16f7bcb59fd8579f5520b1a01e3
    with:
      os: macos-13

  build-conan-deps-macos-arm64:
    name: Build Conan deps (macOS arm64)
    uses: paulsengroup/hictkpy/.github/workflows/build-conan-deps-macos.yml@74a7d3c4ec52b16f7bcb59fd8579f5520b1a01e3
    with:
      os: macos-14

  build-conan-deps-windows-x86:
    name: Build Conan deps (Windows x86_64)
    uses: paulsengroup/hictkpy/.github/workflows/build-conan-deps-windows.yml@74a7d3c4ec52b16f7bcb59fd8579f5520b1a01e3
    with:
      os: windows-2022
      winsdk_version: 10.0.17763.0

  build-sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build SDist
        run: pipx run build --sdist

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  build-wheels:
    name: Build Wheels
    needs:
      - matrix-factory
      - build-conan-deps-linux-x86
      - build-conan-deps-linux-arm64
      - build-conan-deps-macos-x86
      - build-conan-deps-macos-arm64
      - build-conan-deps-windows-x86
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.matrix-factory.outputs.matrix) }}

    env:
      CONAN_HOME: "${{ github.workspace }}/.conan2"
      HICTKPY_CONAN_INSTALL_ARGS: "--settings:a=compiler.cppstd=17;--build=never;--options=*/*:shared=False"

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Restore Conan cache (Linux; x86_64)
        if: startsWith(matrix.os, 'ubuntu') && matrix.arch == 'x86_64'
        uses: actions/cache/restore@v4
        with:
          key: ${{ needs.build-conan-deps-linux-x86.outputs.conan-key }}
          path: |
            ${{ env.CONAN_HOME }}/p
            /tmp/cmake-prefix-rel.tar
          fail-on-cache-miss: true

      - name: Restore Conan cache (Linux; aarch64)
        if: startsWith(matrix.os, 'ubuntu') && matrix.arch == 'aarch64'
        uses: actions/cache/restore@v4
        with:
          key: ${{ needs.build-conan-deps-linux-arm64.outputs.conan-key }}
          path: |
            ${{ env.CONAN_HOME }}/p
            /tmp/cmake-prefix-rel.tar
          fail-on-cache-miss: true

      - name: Restore Conan cache (macOS; x86_64)
        if: startsWith(matrix.os, 'macos') && matrix.arch == 'x86_64'
        uses: actions/cache/restore@v4
        with:
          key: ${{ needs.build-conan-deps-macos-x86.outputs.conan-key }}
          path: |
            ${{ env.CONAN_HOME }}/p
            /tmp/cmake-prefix-rel.tar
          fail-on-cache-miss: true

      - name: Restore Conan cache (macOS; aarch64)
        if: startsWith(matrix.os, 'macos') && matrix.arch == 'arm64'
        uses: actions/cache/restore@v4
        with:
          key: ${{ needs.build-conan-deps-macos-arm64.outputs.conan-key }}
          path: |
            ${{ env.CONAN_HOME }}/p
            /tmp/cmake-prefix-rel.tar
          fail-on-cache-miss: true

      - name: Restore Conan cache (Windows; AMD64)
        if: startsWith(matrix.os, 'windows') && matrix.arch == 'AMD64'
        uses: actions/cache/restore@v4
        with:
          key: ${{ needs.build-conan-deps-windows-x86.outputs.conan-key }}
          path: |
            ${{ needs.build-conan-deps-windows-x86.outputs.conan-home }}\p
            ${{ github.workspace }}\cmake-prefix-rel.tar
          fail-on-cache-miss: true

      - name: Add devtools to PATH (Windows)
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
        with:
          sdk: "10.0.17763.0"

      - name: Extract CMake configs
        if: startsWith(matrix.os, 'windows')
        run: |
          mkdir conan-env
          srcdir="$(cygpath '${{ github.workspace }}')"
          tar -xf "$srcdir/cmake-prefix-rel.tar" -C conan-env/ --strip-components=1

      - name: Extract CMake configs
        if: "!startsWith(matrix.os , 'windows')"
        run: |
          mkdir conan-env
          tar -xf /tmp/cmake-prefix-rel.tar -C conan-env/ --strip-components=1

      - name: Build wheels
        uses: pypa/cibuildwheel@c923d83ad9c1bc00211c5041d0c3f73294ff88f6 # v3.1.4
        with:
          only: ${{ matrix.wheel-config }}
        env:
          CIBW_BUILD_VERBOSITY: 1
          CIBW_ENVIRONMENT_LINUX: >
            CC=clang
            CXX=clang++
            PIP_VERBOSE=1
            CONAN_HOME='/host${{ env.CONAN_HOME }}'
          CIBW_ENVIRONMENT_MACOS: >
            CC=clang
            CXX=clang++
            PIP_VERBOSE=1
            CMAKE_PREFIX_PATH='${{ github.workspace }}/conan-env'
            MACOSX_DEPLOYMENT_TARGET=10.15
            HICTKPY_CONAN_INSTALL_ARGS="${{ env.HICTKPY_CONAN_INSTALL_ARGS }};--settings:h=os.version=10.15"
          CIBW_ENVIRONMENT_WINDOWS: >
            PIP_VERBOSE=1
            CMAKE_PREFIX_PATH='${{ github.workspace }}/conan-env'
            HICTKPY_BUILD_PORTABLE_WHEELS_WIN=ON
            HICTKPY_CONAN_INSTALL_ARGS="${{ env.HICTKPY_CONAN_INSTALL_ARGS }};--conf:a=tools.microsoft:winsdk_version=10.0.17763.0"
            HICTKPY_PROJECT_TOP_LEVEL_INCLUDES=''
          CIBW_ENVIRONMENT_PASS_LINUX: >
            CONAN_HOME
            HICTKPY_CONAN_INSTALL_ARGS

      - name: Verify clean directory
        run: git diff --exit-code

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: "wheels-${{ matrix.wheel-config }}"
          path: wheelhouse/*.whl
          if-no-files-found: error
          retention-days: 1

  package-artifacts:
    name: Package artifacts
    runs-on: ubuntu-latest
    needs:
      - build-sdist
      - build-wheels

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Archive artifacts
        run: |
          mkdir dist/
          find artifacts -type f -name "hictkpy*.whl" -exec cp '{}' dist/ \;
          find artifacts -type f -name "hictkpy*.tar.gz" -exec cp '{}' dist/ \;

          tar -cf dist.tar dist/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist.tar
          if-no-files-found: error
          retention-days: 7

  pypi-publish:
    name: Upload release to PyPI
    if: github.event_name == 'release' && github.event.action == 'published'
    needs: [package-artifacts]
    environment:
      name: PyPI
      url: https://pypi.org/p/hictkpy
    permissions:
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist
          merge-multiple: true

      - name: Extract dist.tar
        run: |
          tar -xf dist.tar
          rm dist.tar

      - name: Upload wheels to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          attestations: true
          print-hash: true
          verbose: true

  build-wheels-status-check:
    name: Status Check (Build wheels)
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - build-sdist
      - build-wheels
      - package-artifacts
      - pypi-publish

    steps:
      - name: Collect job results
        if: |
          needs.build-sdist.result != 'success'        ||
          needs.build-wheels.result != 'success'       ||
          needs.package-artifacts.result != 'success'  ||
          (
           needs.pypi-publish.result != 'success'      &&
           needs.pypi-publish.result != 'skipped'
          )
        run: exit 1
